<div id="<%= dom_id comment %>">
  <p>
    <strong><%= comment.author.name %>:</strong>
    <%= comment.text %>
  </p>

<% if can? :destroy, comment %>
  <%= button_to "Delete Comment", user_post_comment_path(comment.post.author, comment.post, comment), method: :delete %>
<% end %>
</div>
