<div id="<%= dom_id user %>" class="row">
  <div class="img">
    <%= image_tag user.photo, alt: "User's profile photo", height: 200, width: 150 %>
  </div>
  <div class="info">
      <h1><%= link_to user.name, user_path(user) %></h1>
      <p>
        <strong>Number Of Posts:</strong>
        <%= user.postsCounter %>
      </p>
  </div>
</div>
