<div id="users" class="container">
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <% unless user_signed_in? %>
  <button>
    <%= link_to "Log in", new_user_session_path %>
  </button>
  <% end %>
        <%= render @users %>
</div>
