<div class="post_col", id="<%= dom_id post %>">
  <h1>
    <%= post.title %>
  </h1>

<div class="post_info">
  <p>
    <strong>Comments:</strong>
    <%= post.commentsCounter %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= post.likesCounter %>
  </p>
</div>
</div>
