<div class="post_col", id="<%= dom_id post %>">
  <p>
    <%= post.text %>
  </p>

<div class="post_info">
  <p>
    <strong>Comments:</strong>
    <%= post.commentsCounter %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= post.likesCounter %>
  </p>
</div>
</div>
